*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;background-color: inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


/* &display=swap */

/* ====================================================== */

body{
	background-color: #0d0d11;
	font-family: "Poppins";
	font-weight: 300;
	color: #9c9c9c;
}
/* ========================================================== */
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}
/* ========================================================== */
[class*="__container"]{
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}
/* ========================================================== */
.page{
	flex: 1 1 auto;
}
.page__main {
}
.button {
	display: inline-block;
	text-align: center;
	padding: 16px 30px;
	background-color: #3D96F4;
	border-radius: 50px;
	color: #fff;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.43;
	transition: background-color 0.3s ease 0s;
}
.button_dark {
	background: rgba(129, 129, 139, 0.2);
}
@media (max-width: 991.98px){
	.button{
		padding: 14px 20px;
	}
}

.button:hover{
	background-color: #5ca4f2;
}
.button_dark:hover{
	background: rgba(129, 129, 139, 1);
}
/*  HEADER  */

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(13, 13, 17, 0.501);
}
.header__container {
	display: flex;
	column-gap: 35px;
	align-items: center;
	min-height: 116px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.header__logo {
	
}
.header__menu {
	flex: 1 1 auto;
}
.menu {
}
.menu__icon {
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 3px;
	column-gap: 35px;
	justify-content: flex-end;
}
.menu__item {
}
.menu__body{

}
.menu__link {
	display: block;
	font-size: 16px;
	line-height: 1.62;
	color: #fff;
}
.menu__link:hover{
	text-decoration: underline;
}

.header__cart {
}
.cart-header {
	display: flex;
	gap: 5px;
	align-items: center;
	color: #fff;
}
.cart-header:hover .cart-header__text{
	text-decoration: underline;
}
.cart-header__text {
	font-size: 18px;
	line-height: 1.55;
}
.cart-header__quantity {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	background: rgba(129, 129, 139, 0.3);
}
.header__button {
	flex: 0 0 auto;
}
.icon-menu {
	display: none;
}
.header__logo,
.header__cart,
.header__button{
	position: relative;
	z-index: 5;
}

@media (max-width: 991.98px){
	.header__container,
	.menu__list{
		column-gap: 25px;
	}
	.header__container{
		min-height: 90px;
	}
}

@media (max-width: 767.98px){
	.header__container,
	.menu__list{
		column-gap: 15px;
	}
	.icon-menu {
		display: block;
		flex: 0 0 30px;
		position: relative;
		z-index: 5;
		height: 18px;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		position: absolute;
		right: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before{
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span{
		top: calc(50% - 1px);
	}

	.menu-open .icon-menu span{
		width: 0;
	}
	.menu-open .icon-menu::before{
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu-open .icon-menu::after{
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}

	.menu__body{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	background-color: black;
	padding: 100px 15px 30px 15px;
	overflow: auto;
	transition: left 0.3s ease 0s;
	}
	.menu__body::before{
		content: "";
		position: fixed;
		top: 0;
		left: -100%;
		height: 70px;
		width: 100%;
		background-color: black;
		z-index: 2;
		transition: left 0.3s ease 0s;
	}
	.menu__list{
		row-gap: 10px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.menu__link{
		font-size: 32px;
	}
	.header__container{
		min-height: 70px;
	}
}
.menu-open .menu__body,
.menu-open .menu__body::before{
	left: 0;
}

@media (max-width: 560px){
	.header__logo{
		flex: 0 0 40px;
		width: 40px;
		overflow: hidden;
	}
	.cart-header__text{
		display: none;
	}
	.cart-header__quantity{
		background: url('../img/cart.png') 0 0 / 70px no-repeat;
		padding-top: 7px;
		width: 70px;
		height: 70px;
		font-size: 10px;
		font-weight: 300;
	}
}
/* ------------- MAIN ----------- */


.main {
	padding-top: 160px;
}
.main__container {
	display: flex;
	gap: 32px;
}
.main__content {
	flex: 0 1 50%;
}
.main__content::before{
	content: '';
	bg
}
.main__title {
	font-weight: 500;
	font-size: 51px;
	line-height: 1.19; /* 61/51 */
	color: #fff;
	max-width: 520px;
}
.main__text {
}
.main__actions {
}
.main__button {
}

.main__images {
	flex: 0 1 50%;
}
.images-main {
	display: flex;
	justify-content: center;
	gap: 9.615385%; /* 60/624 */
}
.images-main__column{
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.images-main__item {
	overflow: hidden;
}
.images-main__item_1,
.images-main__item_4{
	border-radius: 50% / 29%;
}
.images-main__item_2{
	border-radius: 50% 50% 0 50%;
}
.images-main__item_3{
	border-radius: 50% 0 50% 50%;
}
.images-main__item img{
	max-width: 100%;
}

@media(max-width: 991.98px){
	.main {
		padding-top: 120px;
	}
}
@media(max-width: 767.98px){
	.main {
		padding-top: 100px;
	}
}